<div class="flex h-screen">
  <!-- Sidebar -->
  <div class="w-60 bg-cyan-900 text-white flex flex-col">
    <div class="flex items-center justify-center mt-4">
      <img class="w-36" src="assets/logo.png" alt="Logo">
    </div>
    <div class="p-4 text-center border-b border-gray-700">
      <h2 class="text-xl font-semibold">ADMIN</h2>
    </div>
    <nav class="flex-1">
      <ul class="text-base">
        <li class="border-b border-gray-700">
          <a routerLink="/branch-list" routerLinkActive="font-bold bg-cyan-700" class="block py-4 px-4 hover:bg-cyan-700">
            BRANCH
          </a>
        </li>
        <li class="border-b border-gray-700">
          <a routerLink="/equipment" routerLinkActive="font-bold bg-cyan-700" class="block py-4 px-4 hover:bg-cyan-700">
            ASSET ENTRY
          </a>
        </li>

        <li class="border-b border-gray-700">
          <a routerLink="/branch-asset" routerLinkActive="font-bold bg-cyan-700" class="block py-4 px-4 hover:bg-cyan-700">
            BRANCH ASSET
          </a>
        </li>
        <!-- Report Dropdown -->

        <li class="border-b border-gray-700">
          <a routerLink="/group-add" routerLinkActive="font-bold bg-cyan-700" class="block py-4 px-4 hover:bg-cyan-700">
            ASSET GROUP
          </a>
        </li>
        <li class="border-b border-gray-700">
          <a routerLink="/tag-entry" routerLinkActive="font-bold bg-cyan-700" class="block py-4 px-4 hover:bg-cyan-700">
            FAD TAG
          </a>
        </li>

        <li class="relative">
          <button (click)="toggleReport()" class="block py-4 px-4 w-full text-left hover:bg-cyan-700 focus:outline-none flex items-center justify-between">
            REPORT
            <svg [ngClass]="{'rotate-180': reportOpen}" class="w-4 h-4 transition-transform duration-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <ul [ngClass]="{'hidden': !reportOpen}" class="bg-cyan-800 border border-gray-700 mt-1">
            <li>
              <a routerLink="/summary" routerLinkActive="font-bold bg-cyan-700" class="block py-4 px-4 hover:bg-cyan-700">
                SUMMARY REPORT
              </a>
            </li>
            <li>
              <a routerLink="/stock-report" routerLinkActive="font-bold bg-cyan-700" class="block py-4 px-4 hover:bg-cyan-700">
                STOCK REPORT
              </a>
            </li>
            <li class="border-b border-gray-700">
              <a routerLink="/all-asset" routerLinkActive="font-bold bg-cyan-700" class="block py-4 px-4 hover:bg-cyan-700">
                ALL ASSET
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main Content -->
  <div class="w-full">
    <header class="bg-green-200 text-white p-2 flex justify-between items-center">
      <div class="md:hidden">
        <button (click)="toggleNav()" class="focus:outline-none">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
        </button>
      </div>
      <nav [ngClass]="{'hidden': !navOpen, 'block': navOpen}" class="w-full md:flex md:items-center md:w-auto">
        <ul class="flex flex-col md:flex-row md:space-x-4 mt-4 md:mt-0">
          <li><a class="block py-2 px-4 text-3xl">Welcome To MMBPLC Inventory</a></li>
        </ul>
      </nav>
      <nav [ngClass]="{'hidden': !navOpen, 'block': navOpen}" class="w-full md:flex md:items-center md:w-auto">
        <ul class="flex flex-col md:flex-row md:space-x-4 mt-4 md:mt-0">
          <li><a class="block py-2 px-4">Sign Out</a></li>
        </ul>
      </nav>
    </header>

    <div class="flex-1 bg-gray-100 p-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
